/* Clemens Rumpfhuber 3AHIT */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed !important;

    background: -webkit-linear-gradient(120deg, #3498db, #8e44ad);
    background: -moz-linear-gradient(120deg, #3498db, #8e44ad);
    background: -ms-linear-gradient(120deg, #3498db, #8e44ad);
    background: -o-linear-gradient(120deg, #3498db, #8e44ad);
    background: linear-gradient(120deg, #3498db, #8e44ad);
}

body {
    margin: 2vw;
    padding-bottom: 2vw;

    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    line-height: 1.8;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Mono', monospace !important;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    padding: 20px;

    background: -webkit-linear-gradient(120deg, #3498db, #8e44ad);
    background: -moz-linear-gradient(120deg, #3498db, #8e44ad);
    background: -ms-linear-gradient(120deg, #3498db, #8e44ad);
    background: -o-linear-gradient(120deg, #3498db, #8e44ad);
    background: linear-gradient(120deg, #3498db, #8e44ad);
    border-top: 1px solid white;
}
