# enable rewrite engine
RewriteEngine On

# set rewrite conditions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# rewrite '/*' to to '/engine.php?page=*'
# also rewrite additional get parametrs
RewriteRule ^([^/]+)/?$ /engine.php?page=$1 [L,PT,QSA]

# if no page chossen, redirect to home page
RedirectMatch ^/$ /home

# file rewrite for getting files out of database
RewriteRule ^file/([^/]*)$ /file.php?page=$1 [L]

# redirect, if www is in front of domain to non www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# disable directory listening for security purpose
Options -Indexes

# redirect error to custom error page
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

# set php values for file upload
php_value upload_max_filesize 100M
php_value post_max_size 200M
php_value memory_limit 320M