/* Clemens Rumpfhuber 3AHIT */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
    height: 100%;
}

body {
    margin: 2vw;
    padding-bottom: 2vw;

    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    line-height: 1.8;

    counter-reset: counter1;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Mono', monospace !important;
}

h1 {
    text-align: center;
    border: 2px solid black;
}

table tbody tr td img {
    width: 200px;
}

#imgcontent img {
    height: 800px;
}

footer {
    height: 30px;
    width: 100%;
    margin-top: 50px;
    padding: 20px 20px 20px -20px;
}

#box, #box1, #box2, #box3, #box4, #box5, #box6, #box7 {
    position: absolute;
    display: flex;
    border: 1px solid black;
}

#box {
    border: none !important;
    top: 210px;
}

#box1 {
    background-color: red;
    width: 248px;
    height: 374px;
}

#box2 {
    background-color: yellow;
    width: 242px;
    height: 84px;
    left: 248px;
}

#box3 {
    background-color: purple;
    width: 242px;
    height: 200px;
    left: 248px;
    top: 84px;
}

#box4 {
    background-color: cyan;
    width: 242px;
    height: 200px;
    left: 248px;
    top: 284px;
}

#box5 {
    background-color: green;
    width: 247px;
    height: 110px;
    top: 374px;
}

#box6 {
    background-color: blueviolet;
    width: 332px;
    height: 110px;
    top: 484px;
}

#box7 {
    background-color: gray;
    width: 158px;
    height: 110px;
    top: 484px;
    left: 332px;
}
